/*
 Theme Name:   Twenty Fifteen Child
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  Twenty Fifteen Child Theme
 Author:       John Doe
 Author URI:   http://example.com
 Template:     pin-wp
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-fifteen-child
*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.wrap-content {
    width: auto;
    height: auto;
    margin: 32px 32px 40px 322px;
    z-index: 1;
}

.wrap-content-inner{
    width: 100%;
    float: left; 
}
/*After underline*/
.archive-header h3:after, div.entry-excerpt:after, h3.widget-title:after, .rb-resume-block .rb-experience .rb-section-title:after, .rb-resume-block .rb-experience-item .rb-right p:after, .widget h3.title:after, h3.top-title:after{
    /*background: none repeat scroll 0% 0% #ff6600 !important;*/
    display: none;
}
#back-top span{
    background-color: #ff6600 !important;
}
img.logo {
    margin-top: 13px;
    margin-left: 80.2px;
}

.main-header {
height: auto;
}

.main-header #searchform2 {
    float: none;
    width: 506px;
    display: inline-block;
    margin-top: 13px;
    display: none;
    margin-left: 12px;
}
.main-header #searchform2 #s {
    border: 1px solid #c1cfda;
    border-radius: 0;
    width: 343px;
    background: url(images/btn_search.png) 12px 9px no-repeat;
    padding-left: 40px;
    height: 34px;
    font-weight: lighter;
}

@media (min-width: 801px){
    .main-header #searchform2 {
        display: inline-block;
    }

}
@media (min-width: 1020px){
    .main-header #searchform2 {
        width: 600px;
    }
    
    .main-header #searchform2 #s{
        width: 437px;
    }
}

.sticky-on {
    text-align: center;
}
.sticky-on a, .sticky-on #searchform2{
    position: relative;
    z-index: 1000;
}
.sticky-on span{
    position: relative;
    /*top: 10px; when banner is here*/
    top: 30px;
    font-family: 'Abril Fatface', cursive;
    font-style: italic;
    font-size: 33px;
    font-weight: bold;
    color: #ff6600;
}
.main-header input.buttonicon {
    text-indent: 0;
    width: 800px;
}

.main-header #searchform2 .buttonicon,
header .stickytop #searchform2 .buttonicon{
    width: 101px;
    border-radius: 0;
    border: 1px solid #dd3333;
    height: 38px;
    background-image: none;
    color: white;
    font-size: 14px;
    font-weight: lighter;
    text-transform: uppercase;
    background-color: #ff6600 !important;
    font: 14px/22px "Ruda", Helvetica, Arial, sans-serif;
}

header .stickytop #searchform2 .buttonicon{
	height: 34px;
}
#searchform2 .buttonicon{
    background-color: #ff6600 !important;
    height: 40px;
}
.bar-header {
    background: #ff6600 !important;
    border-top: 1px solid #c1cfda;
    border-bottom: 1px solid #c1cfda;
    z-index: 1000;
    position: relative;
    /*height: 80px; when there is banner*/
    height: 45px;
}
.sticky-on .bar-header .menu-categories .jquerycssmenu ul li a {
    color: #fff !important;
    font-weight: 100;
    font-size: 18px;
}
.sticky-on .bar-header .menu-categories .jquerycssmenu ul li a:hover {
    color: #fff !important;
}
.sticky-on.stickytop .bar-header .menu-categories .jquerycssmenu ul li a, .sticky-on.stickytop .bar-header .menu-categories .jquerycssmenu ul li a:hover{
    color: #fff !important;
    line-height: 20px;
}
.single .sticky-on.stickytop .bar-header .menu-categories .jquerycssmenu ul li a, .single .sticky-on.stickytop .bar-header .menu-categories .jquerycssmenu ul li a:hover{
    line-height: 35px;
}
@media screen and (min-width: 1200px){
    .sticky-on.stickytop .bar-header .menu-categories .jquerycssmenu ul li a{
        line-height: 35px;
    }
}
.underline-detail:after {
    display: none;
    
}

.wrap-content ul.masonry_list li {
    box-shadow: 0 0 6px rgba(0,0,0,0.7);
    overflow: hidden;
    
}
ul.masonry_list li:hover{
    opacity:0.9;
}
ul.masonry_list li .product-hover{
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 91%;
    background: rgba(255, 255, 255, .7); /*rgba(255, 102, 0, .7);*/
    color: white;
    display: none;
}
ul.masonry_list li:hover .product-hover{
    display: block;
}
.product-hover-inner {
    margin: 24px;
    position: relative;
    height: 94%;
    color: white !important;
    display: block;
    text-align: center;
}
.product-hover-text {
    position: absolute;
    top: 55%;
    width: 100%;
    left: 0;
    margin-top: -6.2em;
    line-height: 1.8em;
    font-weight: 300;
    font-size: 16px;
}
.product-hover-text p{
    border-radius: 50%;
    background: #ff6600;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    position: relative;
}
.product-hover-text p i{
    color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
}
ul.masonry_list li img{
    /*width: 75% !important;*/
    width: auto !important;
    max-width: 230px !important;
    float: none !important;
    display: block;
    margin: 0 auto;
}
ul.masonry_list .an-widget-title h2{
    text-align: center;
    margin-bottom: 20px;
    color: #000;
}
ul.masonry_list .an-widget-title h2 a:hover{
    color: #ff6600 !important;
}


.btn-st {
    display: block;
    height: 2.2em;
    background: #ff6600;
    text-align: center;
    line-height: 2.4em;
    color: white !important;
    font-size: 16px;
}
.btn-st:hover {
    background-color: #FF0000;
    color: white !important;
}

ul.masonry_list .btn-st{
    margin-top: 17px;
    width: 90%;
    margin: 10px auto 10px auto;
    position: relative;
}
.price span{
    font-size: 1.2em;
    font-weight: bold;
}
.price .old-price {
    text-decoration: line-through;
}
.price .sale-price {
    color: #ff6600;
}
.single-brand{
    color: #414141;
    text-transform: capitalize;
}
div.widget_search #searchform2 #s, div.widget_search #searchform2 #s:focus{
    width: 200px;
    background-color: #fff !important;
    font-weight: 100;
    border: 1px solid #c1cfda;
}
aside ul li a, aside ul li a:hover{
    color: #000 !important;
    font-size: 14px;
}
.sidebar-left{
    width: 320px;
}
/**
 * Single page
 */
.media-product-page{
	width: 100%;
}
.media-product-details{
	width: 100%;
}
.media-product-details-inner{
	padding: 8px;
	line-height: 1.7em;
}
a.btn-st.btn-product-buy{
    font-size: 18px;
    position: relative;
}
.media-product-details-inner p, .media-product-details-inner p.product-shipping, .media-product-details-inner p.product-price span.old-price{
    font-size: 17px;
}
.media-product-details-inner p.product-price{
    font-size: 20px;
}
.single .widget_text img{
    margin-left: -25px;
}
.widget_text img{
    width: 280px !important;
    height: auto !important;
}
.single .sidebar .widget{
    /*width: 300px;*/
}
@media(max-width: 1200px){
  .single .sidebar .widget{
    width: 300px;
  } 
  .single .widget_text img{
    margin-left: 0px;
  }
}
@media(min-width: 801px){
	.media-product-page{
		width: 50%;
		float: left;
	}
	.media-product-details{
		width: 50%;	
		float: left;
	}
	.media-product-details-inner{
		padding: 80px;
	}
    .sticky-on span{
        position: relative;
        top: -10px;
    }
}
.single-banner{
    display: block;
    height: 270px;
    width: 470px;
    margin: 10px auto;
}
.single-banner div{
   background: url(./images/joyofsale-singlebottom-450-v2.jpg) no-repeat;
   height: 270px; 
}

/**
 * End single page
 */

.product-price {
	font-size: 1.4em;
	line-height: 1em;
	margin-bottom: 42px;
	line-height: 1.8em;
}

.product-shipping {
	font-size: 1.4em;
	font-weight: lighter;
	margin: 30px 0;
	color: #414141;
}

.btn-product-buy{
	margin-top: 22px;
}

.product-price .sale-price {
	color: red;
}

.single-content {
	box-shadow: none;
}
#single-share{
	margin-bottom: 14px !important;
}


.ct-size {
    display: inline-block;
    margin-bottom: 25px;
}

.product-categories{
	color: #666;
}

.text-center{
	text-align: center;
}

.ct-size a{
	font-size: 1.2em;
}
.ct-size a:hover{
    color: #ff6600 !important;
}

.product-img-link:hover img{
	opacity: 0.8;
}

div.single-content {
    box-shadow: none;
}

header .stickytop .logo {
	height: auto;
}

header div.stickytop {
	background-color: white;
	border-bottom: 1px solid #c1cfda;
    top: -56px;
    opacity: 0.9;
}

.menu-categories {
    margin: 0;
}

.menu-categories .jquerycssmenu {
    margin: 0;
}
header .stickytop .jquerycssmenu{
	margin: 0;
}
header .stickytop.sticky-on{
	transition: none;
}
.stickytop .bar-header{
    background: #ff6600 !important;
    color: white;
}
.featured-articles .title-box span {
	text-shadow: 0 0 2px rgba(255,255,255,0.5);

}
.featured-articles .title-box .regular-price{
    color: #000;
    font-size: 15px;
}
.featured-articles .title-box .old-price{
	color: #000;
	text-decoration: line-through;
    font-size: 15px;
}
.featured-articles .title-box .sale-price{
	color: #ff6600;
	margin-left: 4px;
    font-size: 15px;
}


.featured-articles .title-box{
	position: absolute;
	bottom: 0;
	width: 200px;
	height: 90px;
	padding-top: 30px;
}

li.post-slide{
    height: 100%;
}

ul.featured-articles-slider li img {
    height: auto;
}

img.logo {
	float: none;
	margin: 0;
}
.featured-articles-slider, .random-articles-slider {
	height: 280px;
}
.featured-title {
    width: 100%;
	height: 300px;
	margin-bottom: -280px;
    background-color: transparent !important;
    margin-top: -105px;
}
.featured-articles{
    display: none;
}
/*Slider fixes*/
#slider-prev, #slider-prev2 {
    float: left;
    margin-top: 60px;
    padding: 10px 5px;
}
#slider-next, #slider-next2 {
    float: right;
    margin-top: 60px;
    padding: 10px 5px;
}
#slider-prev a, #slider-next a, #slider-prev2 a, #slider-next2 a, #slider-prev3 a, #slider-next3 a{
    color: #333 !important;
}

.bx-wrapper {
    margin-top: 20px;
    max-width: 100% !important;
}
.featured-title h3{
    display: none;
}
.slide-nav{
    float: none !important;
    margin-top: 100px;
}
footer .slide-nav{
    display: none !important;
}
footer .bx-wrapper{
    background: #fff;
}
.featured-articles .title-box h2 a{
    color: #000 !important;
}
.featured-articles .title-box h2 a:hover{
    color: #ff6600 !important;
}
footer .copyright span{
    font-family: 'Abril Fatface', cursive;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    color: #ff6600;
    margin-left: 5px;
}
ul.footer-social{
    display: none;
}
footer .social-section{
    height: 25px;
}
/*end*/

ul.masonry_list li p {
    padding: 0;
    text-align: center;
    color: #000 !important;
    font-size: 15px;
}

p.price {
    margin-bottom: 12px;
    line-height: 1em;
}

/*Related posts*/

.rpbt_shortcode ul.article_list{
    display: inline-block;
    margin-top: -15px;
    padding-left: 1.7%;
}

.rpbt_shortcode ul.article_list li{
    height: 300px;
    display: block;
    padding: 15px 0;
    width: 30%;
    float: left;
    margin-right: 3%;
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    
}
.rpbt_shortcode ul.article_list li:hover{
    opacity: 0.7;
}
.rpbt_shortcode ul.article_list li:hover span{
    color: #000;
}
.rpbt_shortcode ul.article_list li:hover span.sale-price{
    color: #ff6600;
}
.round-search{
    display: none;
}

.rpbt_shortcode ul.article_list li:hover h4 a{
   color: #000 !important; 
   opacity: 0.9;
}

.rpbt_shortcode h3.rpbt_title.title{
    font-size: 14px;
    padding: 3px 3px 2px;
}

.rpbt_shortcode h4.article-title{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 0 10px;
}

.rpbt_shortcode h4 a{
    position: relative;
    width: 100%;
    display: inline-block;
    height: 50px;
}

.rpbt_shortcode ul.article_list li img{
    float: none;
    width: auto;
    max-width: 100%;
    height: 200px;
    display: block;
    position: relative;
    margin: 8px auto;
}
.rpbt_shortcode p.price{
    text-align: center;
}
.rpbt_shortcode .title-overflow{
    height: 30px;
    overflow: hidden;
}
.img-border{
    width: 90%;
    margin: 20px auto 0 auto;
    border-bottom: 1px solid #dddddd;
}

@media (max-width: 480px){
    .rpbt_shortcode ul.article_list{
        padding-left: 0px;
    }
    
   .rpbt_shortcode ul.article_list li{
        width: 99% !important;
       margin-right: 0px;
       
   }
    .rpbt_shortcode h4.article-title{
        padding: 10px;
        margin-top: 0px;
    }
    
    .mailchimp-single{
    display: none;
   } 
    .single .widget_text img{
        margin-left: -25px;
    }
    .banner-wrap{
        padding: 0px !important;
    }
    .single .banner-wrap{
        display: none;
    }
    .single-banner, .single-banner div{
        background-size: 300px !important;
        height: 210px !important;
        width: 300px !important;
    }
    
    
}

/*Archive*/

.archive-header a{
    font-size: 15px;
}
.archive-header a:hover{
    color: #dd3333 !important;
}
.archive-header h1, .archive-header h1 strong{
   font-weight: 100;
    text-align: center; 
}
#slider-range-price {
    margin:20px;
}
.ui-slider .ui-slider-range{
    background: #ff6600 !important;
}
#amount{
    color:#ff6600 !important;
}

/*Shop by brand*/
h1.page-title{
    border-bottom: 0px !important;
}


/*Mailchimp start*/

.wdpu-text{
    text-align: center;
    width: 100%;
}

.mc_embed_signup{
    width: 630px;
    margin: auto;
    display: inline-block;
    font: 19px/22px "Ruda", Helvetica, Arial, sans-serif;
}
.mc_embed_signup .email{
    border: 1px solid #eee;
    padding: 12px;
    width: 80%;
    font-size: 1.4em;
    font-weight: 100;
    float: left;
    box-sizing: border-box;
    height: 48px;
    font: 19px/22px "Ruda", Helvetica, Arial, sans-serif;
}
.mc_embed_signup .button{
    border: 1px solid #ff6600;
    padding: 12px;
    font-size: 1.1em;
    color: #fff;
    width: 20%;
    float: left;
    box-sizing: border-box;
    height: 48px;
    background-color: #ff6600;
    background-image: url(../pin-wp-child/images/dropdownrot.png);
    background-repeat: no-repeat;
    background-position: 80px 17px;
}
/** end mailchimp **/
.wdpu-text{
    background: url(./images/emailpopup.jpg) no-repeat;
    background-size: cover;

}
.mc_embed_signup {
    margin-top: 350px;
    margin-bottom: 20px;
}

/*Mailchimp all the time*/
.mailchimp-single{
    border: 1px solid #666;
    margin-bottom: 40px;
    background: url(./images/emailsingle.jpg) no-repeat;
    background-size: cover;
    /*background: #000;*/
}
.mailchimp-single .mc_embed_signup{
    margin: 20px auto 20px auto;
    display: block;
}
.mailchimp-single .mc_embed_signup .email{
    border: 1px solid #666;
    color: #666;
    height: 45px;
    font: 17px/22px "Ruda", Helvetica, Arial, sans-serif;
}
.mailchimp-single .mc_embed_signup .button{
    background: #ff6600;
    height: 45px;
    color: #fff;
    cursor: pointer;
    font-size: 22px;
    line-height: 19px;
    background-image: url(../pin-wp-child/images/dropdownrot.png);
    background-repeat: no-repeat;
    background-position: 75px 16px;
    font: 17px/22px "Ruda", Helvetica, Arial, sans-serif;
}
.mailchimp-single p{
    margin-bottom: 10px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}
.mailchimp-single span{
    font-weight: bold;
}
.wdpu-container{
    z-index: 1000001 !important;
}
.wdpu-close.no-title, .wdpu-close.no-title:hover{
    position: absolute !important;
    top: -12px !important;
    right: -12px !important;
    width: 30px !important;
    height: 30px !important;
    text-decoration: none !important;
    opacity: .9 !important;
    background: transparent url(http://shoptrends.com.au//wp-content/plugins/popover/css/tpl/cabriolet/img/close.png) no-repeat !important;
    color: transparent !important;
}
@media (max-width: 1002px){
   .banner-wrap{
        background-color: transparent !important;
        height: 506px !important;
        margin-top: 40px;
    }
    .banner-home{
        width: 642px !important;
        height: 500px !important;
        background-color: #FA08E0;
    }
    .banner2{
        margin-left:-2px;
    }
    .banner3{
        margin-top: -7px;
    }
}
@media (min-width: 1002px){
    .banner-home img{
        margin-left: -4px;
    }
}
@media screen and (max-width: 769px){
    .mc_embed_signup{
        width: 80% !important;
    }
    .mc_embed_signup .email, .mc_embed_signup .button{
        font-size: 19px !important;
        padding: 12px 5px !important;
        font: 14px/22px "Ruda", Helvetica, Arial, sans-serif;
    }
    .mc_embed_signup .button{
        background-position: 60px 17px;
    }
    .mailchimp-single .mc_embed_signup .button{
        background-position: 53px 14px;
    }
    .mailchimp-single p{
        font-size: 18px !important;
    }
    .rpbt_shortcode ul.article_list li{
        width: 46%;
    }
    
    .bx-wrapper{
        margin-top: 40px;
    }
    .banner-wrap{
        height: 750px !important;
        margin-top: 60px;
    }
    .banner-home{
        width: 320px !important;
        height: 744px !important;
    }
    .banner-home img{
        margin-top: -6px;
    }
    .banner2{
        margin-left: 0px;
    }
    .shortcut{
        min-height: 560px !important;
    }
    .shortcut-child{
        width: 47% !important;
        margin-right: 3%;
        margin-bottom: 20px;
    }
    .bx-wrapper .bx-viewport{
        padding-top: 10px;
    }
    h1.designer-clothes{
        font-size: 25px !important;
        line-height: 35px;
        padding-top: 20px !important;
        padding-left: 0px !important;
    }
}

/*Single content between 1003px and 1000px*/

@media screen and (max-width: 1003px) and (min-width: 1000px){
    .single-content{padding-left: 20px;}
    .menu-categories{margin-left: -260px; margin-top: 9px;}
}

/*Sidebar*/
.sidebar ul li a:hover{
    color: #ff6600 !important;
}
/*Slide in*/
.wdsi-slide-minimal a:visited, .wdsi-slide-minimal a:hover{
    color: #ff6600 !important;
}
.wdsi-slide-minimal .wdsi-slide-wrap{
    border-top: 3px solid #ff6600 !important;
}
.wdsi-slide-minimal .wdsi-slide-control, .wdsi-slide-minimal .wdsi-slide-share {
    border-color: #ff6600 !important;
}
.wdsi-slide-minimal .wdsi-slide-content{
    border-top: 1px solid #ff6600 !important;
}
/*Mobile menu title*/
body #responsive-menu #responsive-menu-title{
    font-family: 'Abril Fatface', cursive !important;
    font-style: italic !important;
    font-weight: bold !important;
    color: #ff6600 !important;
    padding: 30px 0px 10px 5% !important;
    font-size: 22px !important;
}
body #responsive-menu .responsive-menu li a{
    font-weight: 100;
    font-size: 18px;
    border: 0px !important;
}
@media only screen and (max-width: 1000px) and (min-width: 760px){
    body #click-menu {
        top: 14px !important;
        right: 1% !important;
    }
}

/*Home banner*/
.banner-wrap{
   background-color: #FA08E0;
   margin-bottom: 20px;
    height: 250px;
}
.banner-home{ 
    width: 969px;
    margin: 0 auto;
}
/*Shortcut*/
.shortcut{
    display: block;
    width: 100%;
    min-height: 300px;
    margin: 0 0 20px 20px;
}
@media (min-width: 1200px){
    .shortcut{
        min-height: 360px;
    }
    .single .widget_text img{
        display: block;
        margin-left: -16px;
    }
}
.shortcut-child{
    width: 30%;
    margin-right: 3%;
    padding: 10px;
    float: left;
    box-shadow: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #ff6600;
    background: #E77533;
}
.shortcut-child img{
    width: 100%;
    height: auto;
    background: black;
    display: block;
    margin: 0 auto;
}
.shortcut-child h3{
    margin: -25px auto 0 auto;
    padding: 10px 0px;
    background: #E77533;
    text-align: center;
    width: 80%;
    position: relative;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
}
.shortcut-child p{
    width: 90%;
    margin: 0 auto;
    padding: 10px 0px;
    text-align: center;
    font-size: 17px;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.shortcut-child p:hover{
    color: #fff;
}
.shortcut-child a:last-child p{
    border: 0px;
}
h1.designer-clothes{
    color: #333;
    font-size: 30px;
    padding-top: 30px;
    padding-left: 25px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 20px;
}
/* Filter CSS */

.on, .on:hover{
    background-image: none;
}
.search-form-placeholder {
    background: url(../pin-wp-child/images/dropdown.png) no-repeat right center;
}
.search-form-select{
    background-color: #ff6600;
    padding-right: 5px;
}
.filter-apply{
    background-color: #ff6600;
    color: #fff;
    border: 1px solid #ff6600; 
    font: 14px/22px "Ruda", Helvetica, Arial, sans-serif;
}
.filter-apply.active{
    background-color: #FF0000;
    border: 1px solid #FF0000;
    color: white !important;
}
.search-form-select label:hover{
    background-color: #ff6600;
    color: #fff;
}
.search-form-inner{
    background-color: #fff;
    color: #ff6600;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-state-hover, .ui-widget-content .ui-state-hover{
    border: 1px solid #ff6600;
    background: #ff6600 url("images/ui-bg_glass_75_dadada_1x400.png") 50% 50% repeat-x !important; 
}
#slider-range-price{
    margin: 0px;
}
.filter-amount{
    width: 120px;
    color: #ff6600;
}
@media screen and (max-width: 1000px){
    .archive-header{
        margin-left: 0px;
    }
    .search-form-select{
        padding-right: 0px;
    }
    .under-1000{
        margin-top: 20px;
    }
}
@media (min-width: 1000px){
    .search-form-select{
        width: 178px; 
    }
    .sticky-filter.on .search-form {
        /*top: 60px; when there is banner*/
        top: 20px;
        background-color: #fff;
        border-bottom: 1px solid #c1cfda;
        opacity: 0.9;
        padding-top: 25px;
    }
    .sticky-filter.on .search-form .filter-range {
        color: #333;
    }
    .archive.category .sticky-filter .search-form-order, .search-form-order {
        clear: both;
    }
    .archive.category .sticky-filter.on .search-form-order {
        clear: none;
    }
}
@media (max-width: 1200px) and (min-width: 1000px){
.archive.category .sticky-filter.on .search-form-select, .sticky-filter.on .search-form-select {
    width: 169px;
    }
}

/*Arrows*/
span.buy-product-btn {
    background-image: url(../pin-wp-child/images/dropdown.png);
    position: absolute;
    top: 11px;
    margin-left: 5px;
    width: 16px;
    height: 16px;
    display: inline-block;
    transform: rotate(270deg);
}
.media-product-details-inner a.btn-st.btn-product-buy span.buy-product-btn{
    top: 14px;
}

/*Quick search*/
@media screen and (max-width: 480px){
    .shortcut{
        margin: 0 auto !important;
    }
    .shortcut-child{
        width: 100% !important;
        float: none !important;
        margin-right: 0 !important;
        margin-bottom: 20px;
    }
}

/*Shop by brand*/

#mcTagMap .tagindex, #sc_mcTagMap .tagindex{
    min-height: 100px !important;
}
#mcTagMap .tagindex h4{
    color: #000 !important;
    border-bottom: 5px solid #000 !important;
    text-decoration: none;
}
.holdleft ul.links li a:hover{
    color: #000 !important;
}

/*Header banner*/

.header-banner{
    height: 35px;
    background: #3115AA;
}
.header-banner p{
    color: #fff;
    margin: auto;
    padding-top: 4px;
}
.header-banner p a, .header-banner p a:hover{
    display: inline-block;
    background: #fff ;
    font-size: 14px;
    padding: 3px 5px;
    margin-left: 18px;
    margin-top: -1px;
    line-height: 23px;
    color: #3115AA !important;
    font-weight: 700;
}
.header-banner p a span{
    border: 1px solid #3115AA;
    padding: 0 5px;
    font-size: 14px;
    top: 0;
    color: #3115AA;
}
.under-1000 p{
    text-align: center;
}

@media (min-width: 1000px){
    .under-1000{
        display: none;
    }
}
@media (max-width: 800px){
   .under-1000{
        margin-top: 50px;
    } 
}
@media (max-width: 630px){
    .under-1000{
        height: 60px;
    }
}
@media (max-width: 325px){
    .under-1000{
        height: 80px;
    }
}
/*Blog*/

.entry p a, .entry p a:hover{
    background: transparent !important;
}
.page-template-template-childpages article .entry h1, .page-child article .entry h1{
    font-weight: 300 !important;
    border-bottom: 0px !important;
}
.page-template-template-childpages article .entry h3{
    text-decoration: none !important;
}
ul.child-pages{
    list-style-type: none !important;
}
.page-template-template-childpages .entry ul li h3, .page-template-template-childpages .entry ul li h3 a, .page-template-template-childpages .entry ul li h3 a:hover{
    font-weight: 100;
    text-align: center;
    font-size: 22px;
    color: #333 !important;
    text-decoration: none;
}
.page-template-template-childpages .entry ul li p a, .page-template-template-childpages .entry ul li p a:hover{
    padding-left: 0px;
    color: #333 !important;
    text-decoration: none;
    background: transparent !important;
    font-size: 16px !important;
}
ul.child-pages .child-image{
    float: left;
    padding-right: 24px;
    max-width: 260px;
    height: auto;
    max-height: 260px;
    overflow: hidden;
}
.page-child article .entry h3{
    text-decoration: none;
    text-align: center !important;
    font-size: 30px !important;
    font-weight: 100 !important;
}
.page-child article .entry p em, .page-child article .entry p em a, .page-child article .entry p em a:hover{
    font-size: 12px !important;
    text-transform: none;
    text-align: left;
    width: 100%;
    display: inline;
    margin-bottom: 0px;
    font: 14px/22px "Ruda", Helvetica, Arial, sans-serif;
    background: transparent !important;
    text-decoration: none !important;
    color: #333 !important;
}
.page-child article .entry p strong em, .page-child article .entry p strong em a, .page-child article .entry p strong em a:hover,
.page-child article .entry p em strong, .page-child article .entry p em strong a, .page-child article .entry p em strong a:hover{
    font-size: 16px !important;
     text-transform: none;
    text-align: left;
    width: 100%;
    display: inline-block;
    margin-bottom: 0px;
    font: 14px/22px "Ruda", Helvetica, Arial, sans-serif;
    font-weight: bold !important;
}
.page-child article .entry p strong{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 10px;
}
.page-template-template-childpages li a img, .page-child article p img{
    display: block;
    margin: 0 auto;
    border-radius: 0px;
}

article .entry h4{
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
@media (max-width: 760px){
  .page-template-template-childpages .entry ul li a{
    float: none;
  } 
 .page-template-template-childpages .entry ul li a img{
    display: block;
     width: 80%;
    margin: 0 auto;
    
    }
}
@media (max-width: 480px){
    .entry ul{
        margin: 0px !important;
    }
    .page-parent .wrap-fullwidth, .page-child .wrap-fullwidth{
        width: 325px;
    }
    .page-parent .single-content{
        width: 320px;
    }
}