/* Style Pin ( default color ) -------------------------------------------
-----------------------------------------------------------------------------*/
h1,h2,h3,h4,h5,h6          { color: #333;}
code, pre                  { border: 1px solid #eae9e9; background-color: #FFF; -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1); -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1); box-shadow: 0 1px 10px rgba(0,0,0,0.1);}


/*-----------------------------------------------------------------------------
----------------------------- 1 - Layout --------------------------------------
-----------------------------------------------------------------------------*/
a:link, a:visited          { color: #000; text-decoration: none; }
a:hover                    { color: #dd3333; /* red color */  }
::-moz-selection           { background:#000; color: #fff; text-shadow: none; }
::selection                { background:#000; color: #fff; text-shadow: none; }
/* -- Header -- */
html body                  { color: #414141; background-color: #f6f5f2;}
header, .sticky            { background-color: #000;  }
.bar-header                { background-color: #dd3333; }
/* - Layout content - */
.wrap-fullwidth-bg         { background-color: #FFF; -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.1); -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1); box-shadow: 0 1px 5px rgba(0,0,0,0.1);}
/* .page-content */ 
#boxed-style .wrap-content, 
#boxed-style .wrap-fullwidth,
#boxed-style .home-fullwidth { background-color: #fafafa;}     
.single-content            { background-color: #FFF; -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.1); -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1); box-shadow: 0 1px 5px rgba(0,0,0,0.1);}


/*-----------------------------------------------------------------------------
----------------------------- 2 - Header --------------------------------------
-----------------------------------------------------------------------------*/

/* -- Search Header (menu) -- */
#searchform2 .buttonicon   { background-color: #dd3333;}
#searchform2 #s            { background-color: #FFF; color: #000 !important;}

/* -- Live Search -- */
ul.search_results li:hover { background-color: #f2f2f2 !important; }
ul.search_results          { -moz-box-shadow: 0 0 5px #999 !important; -webkit-box-shadow: 0 0 5px #999 !important; box-shadow: 0 0 5px #999 !important;} 

/* -- Top Header Menu -- */
.jquerycssmenu ul li span  { color: #5a5a5b; }
.jquerycssmenu ul li:hover span { color: #999 !important;}
.jquerycssmenu ul li.current_page_item > a, 
.jquerycssmenu ul li.current-menu-ancestor > a, 
.jquerycssmenu ul li.current-menu-item > a, 
.jquerycssmenu ul li.current-menu-parent > a { color: #FFF; }
.jquerycssmenu ul li ul li.current_page_item > a, 
.jquerycssmenu ul li ul li.current-menu-ancestor > a, 
.jquerycssmenu ul li ul li.current-menu-item > a, 
.jquerycssmenu ul li ul li.current-menu-parent > a { color: #000 !important; background: #f2f2f2 !important; border-bottom: none; }
/*Top level menu link items style*/
.jquerycssmenu ul li a { color: #FFF; }
.jquerycssmenu ul li ul li a { color: #000 !important; }
/*1st sub level menu*/
.jquerycssmenu ul li ul { background: #000;}
.jquerycssmenu ul li ul li ul { background-color: #FFF !important;}
.jquerycssmenu ul li ul li { background: #FFF; border-bottom: 1px solid #f2f2f2 !important; }
/* Sub level menu links style */
.jquerycssmenu ul li ul li:hover { color: #000 !important;}
.jquerycssmenu ul li ul li:hover a { background-color: #f2f2f2; color: #000 !important; }
.jquerycssmenu ul li ul li:hover a { background-color: #FFF; color: #000 !important;}
.jquerycssmenu ul li ul li:hover a:hover { background-color: #f2f2f2; color: #000 !important;}

/* -- Menu Categories -- */ 
.menu-categories .jquerycssmenu ul li.current_page_item > a, 
.menu-categories .jquerycssmenu ul li.current-menu-ancestor > a, 
.menu-categories .jquerycssmenu ul li.current-menu-item > a, 
.menu-categories .jquerycssmenu ul li.current-menu-parent > a { color: #FFF;   border-bottom: none; }
.menu-categories .jquerycssmenu ul li ul { background-color: #dd3333; }
.menu-categories .jquerycssmenu ul li ul li { background-color: #FFF;}
.menu-categories .jquerycssmenu ul li ul li a { color: #000 !important; }
.menu-categories .jquerycssmenu ul li a { color: #FFF !important; }

/* -- Sticky Header -- */
header .stickytop       { background-color: #000;}
header .stickytop #searchform2 .buttonicon { background-color: #dd3333; }

/* -- Sticky Posts style -- */
ul#infinite-articles li.sticky  {  background-color: #fcf9da !important; }


/*-----------------------------------------------------------------------------
----------------------------- 3 - Home Content --------------------------------
-----------------------------------------------------------------------------*/
.article-category a:hover  { color: #FFF !important;}

/* ##### Featured Slider home ##### 
################################## */
.featured-title            { background-color: #C5C5C5;}
.featured-title h3         { color: #FFF;}
.featured-articles .title-box    { background: linear-gradient(to bottom, transparent 0px, rgba(189, 176, 176, 0.7) 50%, rgba(183, 183, 183, 0.9) 100%) repeat scroll 0% 0% transparent;}
.featured-articles .title-box h2 { color: #FFF;}
.featured-articles .title-box h2 a { color: #FFF;}
.featured-articles .title-box span { color: #94979c;}
.featured-articles .title-box span a { color: #FFF; border-bottom: 1px solid #dd3333; }
/* - Category - */
.featured-articles .article-category i { border-color: #dd3333 transparent #dd3333 #dd3333; }
.featured-articles .article-category   { background-color: #dd3333; }
.featured-articles .article-category a { color: #FFF;}
/* - controls - */
#slider-prev a, #slider-next a, #slider-prev2 a, #slider-next2 a, #slider-prev3 a, #slider-next3 a { color: #FFF;}
 

/* ###### Blog Masonry style ###### 
#################################### */
ul.masonry_list li         { background-color: #FFF; -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.1); -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1); box-shadow: 0 1px 5px rgba(0,0,0,0.1); }
ul.masonry_list li p       { color: #94979c;}
ul.masonry_list .an-widget-title i  { color: #dd3333; }
ul.masonry_list .an-widget-title span { color: #94979c;}
/* - Meta - */
ul.masonry_list .an-widget-title span a { border-bottom: 1px solid #dd3333; background-color: #f5f5f5; }
.masonry_list .home-meta { border-top: 1px solid #f1f1f1; background-color: #f5f5f5; }
.masonry_list .an-display-time  { color: #94979c;}
.masonry_list .an-display-time i { color: #d2d6db; }
.masonry_list .an-display-comm a { color: #94979c;}
.masonry_list .an-display-comm i { color: #d2d6db; opacity: 0.8; }
.masonry_list .an-display-view  { color: #94979c;}
.masonry_list .an-display-view i { color: #d2d6db; } 
/* - Like & unlike - */
.thumbs-rating-already-voted   { background-color: #f5f5f5 !important; }
.thumbs-rating-container .thumbs-rating-up  { color: #6ecb0a; }
.thumbs-rating-container .thumbs-rating-down{ color: #fe6969; }
/* - categories ribbon - */
ul.masonry_list .article-category i { border-color: #dd3333 transparent #dd3333 #dd3333; }
ul.masonry_list .article-category   { background-color: #dd3333; }
ul.masonry_list .article-category a { color: #FFF;}
/* - comments ribbon - */
.article-comm { background-color: #000; }
.article-comm a { color: #FFF !important; }
/* - Review - */
.review-box-nr i    { color: #dd3333;}
.review-box-nr      { color: #dd3333; }

/* -- infinite scroll Pagination -- */
#infscr-loading            { background-color: #FFF; -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.1); -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1); box-shadow: 0 1px 5px rgba(0,0,0,0.1); }
#infscr-loading span       { color: #dd3333; }

/* -- Pagination -- */
.wp-pagenavi a, .wp-pagenavi span { background-color: #000; color: #fff !important;}
.wp-pagenavi a:hover { color: #fff !important; background-color: #dd3333;}
.wp-pagenavi span.current { background-color: #dd3333; color: #fff !important; }


/*-----------------------------------------------------------------------------
----------------------------- 4 - Entry Content -------------------------------
-----------------------------------------------------------------------------*/

/* -- Archive-header -- */
.archive-header h3         { color: #222; }
.archive-header h3:after   { background: none repeat scroll 0% 0% #dd3333;  }

/* -- About author -- */
.author-meta               { border: 1px solid #ebe7bc; background-color: #fcf9da; -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.1); -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1); box-shadow: 0 1px 5px rgba(0,0,0,0.1);  }
ul.author-social-top li a i        { color: #FFF; }
ul.author-social-top li.facebook a { background-color: #3b59b6;} 
ul.author-social-top li.twitter a  { background-color: #40a4ff;} 
ul.author-social-top li.google a   { background-color: #d34836;} 

/* -- Bottom banner 728x90 -- */
.single-728                { background-color: #f9f9f9;}

/* -- Related articles -- */
.arrow-down-related        { border-top: 10px solid #000; }

/* - Top entry banner / meta date - */
.single-box                { background-color: #f1f1f1; }
.meta-wrap                 { background-color: #f5f5f5; }
.single-content .single-meta { border-top: 1px solid #f1f1f1; }
.single-content .an-display-time  { color: #94979c;}
.single-content .an-display-time i { color: #d2d6db; }
.single-content .an-display-comm a { color: #94979c;}
.single-content .an-display-comm i { color: #d2d6db; opacity: 0.8; }
.single-content .an-display-view  { color: #94979c;}
.single-content .an-display-view i { color: #d2d6db; }

/* -- Entry Top / Featured Image / Videos -- */
.entry-top span            { color: #94979c;}
.entry-top span a          { border-bottom: 1px solid #dd3333; }
/* - title - */
h1.article-title           { color: #000; }
h1.page-title              { color: #000; border-bottom: 5px solid #f2f2f2; }
/* - featured img / videos - */
.media-single-content      { background-color: #f9f9f9; }

/* -- Entry excerpt -- */
div.entry-excerpt:after { background: none repeat scroll 0% 0% #dd3333; }

/* -- Entry bottom -- */
.single-content h3.title   { color: #FFF !important; background-color: #000; }
.single-content h3.title i { border-color: #000 transparent #000 #000; }

/*-- Entry button -- */
.entry-btn                 { background-color: #dd3333; color: #FFF !important;  } 

/* -- Entry content style -- */
.entry p a        { color: #FFF; background-color: #dd3333;}
.entry p a:hover  { color: #000 !important; background-color: #eee !important;}

/* -- blockquote -- */
blockquote p               { color: #222; }

/* -- Responsive Images -- */
.wp-caption-text           { color: #888;}
.entry .wp-caption-text a         { color: #000 !important; }
.wp-caption-text a:hover   { color: #000 !important; }

/* -- Pagination entry articles -- */
.my-paginated-posts span { background-color: #dd3333; color: #FFF;}
.my-paginated-posts p a  { background-color: #000; color:#fff;}

/* ###### Resume Builder Style ###### 
#################################### */
/* - Introduction - */
.rb-resume-block .rb-about .rb-about-text .rb-subtitle { color: #000 !important; background-color: #f6f6f6; }
/* - widget title - */
h3.widget-title:after     { background: none repeat scroll 0% 0% #dd3333; }
/* - Widget Styling skills - */
.rb-experience-rating     { color: #dd3333; }
/* - Widget Styling contact - */
.widget .rb-contact-block li span { background:#eee; }
/* - Buttons - */
.rb-resume-block .rb-btn, .widget .rb-resume-block .rb-btn { background-color: #000; border: 2px solid #000; }
.rb-resume-block .rb-btn:hover, .widget .rb-resume-block .rb-btn:hover { color: #FFF !important;}
/* Experience */
.rb-resume-block .rb-experience .rb-section-title { color: #333; }
.rb-resume-block .rb-experience .rb-section-title:after { background: none repeat scroll 0% 0% #dd3333; }
.rb-resume-block .rb-experience-item .rb-right p:after { background: none repeat scroll 0% 0% #dd3333; }


/*-----------------------------------------------------------------------------
----------------------------- 5 - Sidebar & Widgets ---------------------------
-----------------------------------------------------------------------------*/

/* -- Sidebar -- */
.sidebar, .sidebar-left  { background-color: #FFF; }
.sidebar-left, .sidebar  { -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.1); -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1); box-shadow: 0 1px 5px rgba(0,0,0,0.1); }
.widget h3.title:after, h3.top-title:after   { background: none repeat scroll 0% 0% #dd3333; }

/* -- Social Count -- */
.social-count-plus       { background: #fafafa; border: 1px solid #f1f1f1;}

/* -- FeedBurner -- */
div.feed-info i        { color: #dd3333;}
div.feed-info strong   { border-bottom: 1px solid #dd3333;}
#newsletter-form input.newsletter  { border:1px solid #d5d6d8; color:#333; }
#newsletter-form input.newsletter-btn  { color: #FFF; background-color: #dd3333; }

/* -- Article widget -- */
.article_list li         { border-bottom: 1px solid rgba(241, 241, 241, .8); }
.article_list li h3:hover { color: #000; }
.article_list li .an-display-author a { color: #dd3333;}
.article_list li .an-display-time   { color: #94979c;}
.article_list li .an-display-comm a { color: #94979c; }
.article_list li .an-display-comm i, #articles .an-display-time i { color: #d2d6db; }

ul.article_list .article-category i { border-color: #dd3333 transparent #dd3333 #dd3333; }
ul.article_list .article-category   { background-color: #dd3333; }
ul.article_list .article-category a { color: #FFF;}

ul.article_list .an-widget-title i  { color: #dd3333; }
ul.article_list .an-widget-title span { color: #94979c;}
ul.article_list .an-widget-title span a { border-bottom: 1px solid #dd3333; }

/* -- Categories in two columns -- */
.widget_anthemes_categories li { color: #dd3333; } 

/* -- Widget RSS -- */
.widget_rss h3 a         { color: #222;}

/* -- Default Tags -- */
div.tagcloud a:hover  { }
div.tagcloud a        { background: #f5f5f5 !important; }
div.tagcloud span     { color: #dd3333; }

div.widget_archive select, div.widget_categories select { border-radius: 3px; border:1px solid #d5d6d8; color:#999; }

/* -- Default Search -- */
div.widget_search #searchform2 #s { background-color: #fafafa; }

/* -- Archives in two columns -- */
.widget_archive li { color: #dd3333; } 

/* -- Meta in two columns -- */
.widget_meta li { color: #dd3333;} 

/* -- Calendar -- */ 
#wp-calendar tbody td#today { background-color: #000; color: #FFF;}
#wp-calendar tbody td#today a { color: #FFF !important;}


/*-----------------------------------------------------------------------------
----------------------------- 6 - Comments Form -------------------------------
-----------------------------------------------------------------------------*/

ul.comment li                 { border: 1px solid #eae9e9;  background-color: #FFF; -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1); -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1); box-shadow: 0 1px 10px rgba(0,0,0,0.1);  }
ul.comment li ul.children li  { -moz-box-shadow: none; box-shadow: none; -webkit-box-shadow: none;}

/* -- Comments -- */
.comments h3.comment-reply-title  { color: #FFF !important; background-color: #000; }
.comments h3.comment-reply-title i { border-color: #000 transparent #000 #000; }
.comments h3.comment-reply-title a { color: #FFF; }

/* -- comment Form -- */
#commentform #author, #email  { border:2px solid #d5d6d8; color:#333; }	
#commentform textarea         { border:2px solid #d5d6d8; color:#333;} 
#commentform #sendemail       { background-color: #000; color: #FFF; }
#commentform label span       { color:#F00;}
#commentform span             { color:#F00;} 


/*-----------------------------------------------------------------------------
----------------------------- 7 - Contact Form --------------------------------
-----------------------------------------------------------------------------*/

/* -- Contact Form -- */
#contactform #contactName, #contactform #emaill, #contactform #subject { border:2px solid #d5d6d8; color:#333; }	
#contactform textarea         {  border:2px solid #d5d6d8; color:#333;} 
#contactform .sendemail       { background-color: #dd3333; color: #FFF; }
#contactform label span       { color:#F00;}
#contactform span             { color:#F00;}
#contactform label.error      { color:#F00;}

/* -- Contact Form 7 Plugin -- */
form.wpcf7-form input         { border:2px solid #d5d6d8; color:#333; }
form.wpcf7-form textarea      { border:2px solid #d5d6d8; color:#333; }
form.wpcf7-form input.wpcf7-submit    { background-color: #000; color: #FFF; border: none; }
form.wpcf7-form .wpcf7-validation-errors { color: red;}


/*-----------------------------------------------------------------------------
----------------------------- 8 - Custom Pages --------------------------------
-----------------------------------------------------------------------------*/

/* -- Tag & Category Index -- */
#mcTagMap .tagindex h4, #sc_mcTagMap .tagindex h4 { color: #dd3333; }
#mcTagMap .tagindex ul li, #sc_mcTagMap .tagindex ul li { border-bottom: 1px solid #f0eee9; }

/* --- Review Plugin --- */
#review-box                { border: 1px solid #eae9e9; background-color: #FFF; -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1); -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1); box-shadow: 0 1px 10px rgba(0,0,0,0.1);}
h2.review-box-header, .user-rating-text strong, .user-rating-text { color: #000 !important; }
 

/*-----------------------------------------------------------------------------
------------------------------ 9 - Footer -------------------------------------
-----------------------------------------------------------------------------*/

footer                        { background-color: #000;}
.social-section               { background-color: #000;}
.wrap-footer                  { background-color: #000;}

/* -- Copyright -- */
.copyright                    { color: #999;  }
.copyright a                  { color: #FFF; border-bottom: 1px solid #dd3333; }

/* -- Footer Social Icons -- */
ul.footer-social li a         { color: #FFF; }
ul.footer-social li a:hover   { opacity: 0.7; color: #FFF !important;}

/* -- Back to Top -- */
#back-top span                { background-color: #dd3333;}
#back-top a:hover             { opacity: 0.7; } 